Repository RiktaD/welcomepack2role, changes with the labels that .github/labeler.yml gives for each.
All labels: composer.json, .github, .gitignore, config (tooling), tests, code change, changelog, documentation, javascript, typescript, shell

feat: notify when a new instance is online
  src/bot.ts
Labels: code change, typescript

feat: notify when a distance is shutting down
  src/bot.ts
Labels: code change, typescript

feat: shutdown gracefully, including logging of the instances client
  src/bot.ts
Labels: code change, typescript

feat: assign role to people that got their welcomepack
  src/bot.ts
Labels: code change, typescript

feat: react to processed welcomepacks
  src/bot.ts
Labels: code change, typescript

feat: isolate exceptions on per-message basis, react to exception-throwing messages
  src/bot.ts
Labels: code change, typescript

Notes added by 'git notes add'
  74dcadc3b531d02adb41cf505b63003be5cd9cd2
Labels: none

Notes added by 'git notes add'
  2c9e53c1d83df4b23454b3de0a296c7fc6b2163e
Labels: none

feat: reply to on/off-message from other instances
  src/bot.ts
Labels: code change, typescript

ci: add knastinsel deployment
  .aws/knastinsel/task-definition.json
  .github/workflows/deploy_to_knastinsel.yml
  .github/workflows/release.yml
Labels: .github

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Labels: changelog

Notes added by 'git notes add'
  0136b92633599bb16d5f105fe2044767af7b3c8f
Labels: none

.github/labeler.yml:

composer.json:
  - ./composer.json

.github:
  - .github/*
  - .github/**/*

.gitignore:
  - .gitignore

config (tooling):
  - ./*.dist
  - .github/*.yml

tests:
  - tests/*

code change:
  - src/*
  - src/**/*

changelog:
  - ./CHANGELOG.md

documentation:
  - docs/
  - README.md

javascript:
  - ./*.js
  - ./**/*.js

typescript:
  - ./*.ts
  - ./**/*.ts

shell:
  - ./*.sh
  - ./**/*.sh
